@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Montserrat:wght@600&family=Roboto:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Roboto:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Montserrat:wght@600&family=Roboto:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --maincolor: #35def0;
}
::selection{
    background-color: green;
    color: #35def0;
}
body{
    overflow: hidden;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.container{
    width: 100%;
    height: 90vh;
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 1000;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
}
.logo a{
    text-decoration: none;
}
.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width:6rem ;
    height:6rem;
    border-radius: 50%;
}
.logo h1{
    font-size: 2.5rem;
    color: #35def0;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #7f8fa6;
}
nav button{
    width: 12rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: black;
    border: none;
    cursor: pointer;
    background-color: #35def0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.btn button i{
    font-size: 2rem;
}
.activemenu{
    display: block;
}
.menu{
   width: 4.5rem;
   height: 4.5rem;
   border: 0.1rem solid gray;
   display: grid;
   place-items: center;
   border-radius: 0.2rem;
   cursor: pointer;
   display: none;
}
.menu i{
    font-size: 4rem;
}
.ticket-serach{
    margin-top:10vh;
    font-family: 'Jost', sans-serif;
    height: auto;
    width: 100%;
}
.search-tbox{
    width: 100%;
    height: auto;
    padding: 5rem;
}
.search-tbox form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-family: 'Jost', sans-serif;
}
.serachb{
    display: flex;
    flex-direction: column;
   border: 0.1rem solid #9c88ff;
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 20%;
}
.serachb label{
    font-size:2rem;
    color: black;
    font-family: 'Jost', sans-serif;
    margin-bottom: 0.5rem;
}
.serachb select{
    width: 100%;
    height: 4.8rem;
    background: none;
    padding: 0.5rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
}
.serachb input{
    width: 100%;
    height: 3.6rem;
    background: none;
    padding: 0.5rem;
    outline: none;
    height: 4.8rem;
    font-family: 'Jost', sans-serif;
    border-radius: 0.5rem;
    font-size: 1.7rem;
}
.search-tbox form button{
    width: 16rem;
    height: 5.5rem;
    border-radius: 25px;
    background-color: var(--maincolor);
    color: white;
    font-size: 1.8rem;
    border: none;
    font-family: 'Jost', sans-serif;
    transition: 0.3s;
    cursor: pointer;
}
.serachb select::-webkit-scrollbar{
    width: 0.8rem;
  }
  
  /* Track */
  .serachb select::-webkit-scrollbar-track {
    background:whitesmoke;
    padding: 0.5rem;
  }
  
  /* Handle */
  .serachb select::-webkit-scrollbar-thumb {
    background:#2980b9;
    border-radius: 0.5rem;
  }
  .data-box{
    width: 100%;
   height: auto;
/* background-color: red; */
   padding: 4rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 2rem;
  }
  .data-show{
    width: 100%;
    padding: 1rem;
    width: 45%;
    /* background-color: rebeccapurple; */
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),
                 10px -10px 15px -3px rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 1rem;
  }
  .data-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px dotted black;
    padding: 1rem 0;
  }
  .upleft h3{
   font-size: 2rem;
   font-family: 'Poppins', sans-serif;
   margin-bottom: 0.2rem;
  }
  .upleft{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .upleft h4{
     font-size: 1.7rem;
  }
.upleft img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;

}
.upright img{
    width: 3rem;
    height: 3rem;
}
.upright{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.upright p{
    padding: 1rem;
    background:whitesmoke;
    border-radius: 25px;
    color: var(--maincolor);
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;

}
.secon-from{
    border-bottom: 2px dotted black;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}
.btnpay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.btnpay-left {
    display: flex;
    gap: 1rem;
}
.btnpay-left h2{
    font-size: 3rem;
    font-weight: 300;
}
.btnpay-left img{
    width: 3rem;
    height: 3rem;
}
.btnpay-right button{
    width: 16rem;
    height: 5.5rem;
    border-radius: 25px;
    background-color: var(--maincolor);
    color: white;
    font-size: 1.8rem;
    border: none;
    font-family: 'Jost', sans-serif;
    transition: 0.3s;
    cursor: pointer;
}







@media(max-width:768px){
    html{
        font-size: 45%;
    }
    header{
      justify-content: space-between;
      padding: 0 5rem;
    }
    
    nav{
        position: absolute;
        top: 10vh;
        right: 0;
        width: 100%;
        height: auto;
        padding:0 2rem ;
        padding-bottom:2rem ;
        background-color: white;
        justify-content: start;
        flex-direction: column;
        display: none;
    }
    nav ul{
        display: block;
        text-align: left;

    }nav ul li{
        margin-top: 2.5rem;
    }
    nav ul li a{
        font-size: 2.2rem;
    }
    nav button{
        width: 100%;
        height: 5rem;
        margin-top: 2rem;
    }
    .container{
        height: 80vh;
    }
    .menu{
        display: block;
    }
    .search-tbox form{
        flex-direction: column;
    }
    .serachb{
        width: 100%;
    }
    .data-show{
        width: 100%;
    }
}

 