@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Montserrat:wght@600&family=Roboto:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Roboto:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Montserrat:wght@600&family=Roboto:ital,wght@0,500;1,500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:"josefin" ,sans-serif;
}
::selection{
    background-color: green;
    color: #35def0;
}
body{
    overflow: hidden;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.container{
    width: 100%;
    height: 90vh;
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    position: fixed;
    z-index: 1000;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
}
.logo a{
    text-decoration: none;
}
.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width:6rem ;
    height:6rem;
    border-radius: 50%;
}
.logo h1{
    font-size: 2.5rem;
    color: #35def0;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #7f8fa6;
}
nav button{
    width: 12rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: black;
    border: none;
    cursor: pointer;
    background-color: #35def0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.btn button i{
    font-size: 2rem;
}
.activemenu{
    display: block;
}
.menu{
   width: 4.5rem;
   height: 4.5rem;
   border: 0.1rem solid gray;
   display: grid;
   place-items: center;
   border-radius: 0.2rem;
   cursor: pointer;
   display: none;
}
.menu i{
    font-size: 4rem;
}
.ticket_main{
    width: 100%;
    height: 100vh;
}
.ticket-box{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.ticket-form{
    width: 40%;
    height: 40rem;
    background-color: #dfe4ea;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
}
.box_form{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
form{
    width: 100%;
}
.box_form input{
    width:100%;
    height: 55px;
    margin: auto;
    padding: 1rem;
    font-size: 1.8rem;
}
form button{
    margin-top: 2rem;
    width: 20rem;
    height: 5rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #35def0;
    font-size: 1.7rem;
    color: black;
    border-radius: 0.2rem;
}
.box_form label{
    font-size: 2rem;
    margin-bottom: 1rem;
}
@media(max-width:768px){
    html{
        font-size: 45%;
    }
    header{
      justify-content: space-between;
      padding: 0 5rem;
    }
    
    nav{
        position: absolute;
        top: 10vh;
        right: 0;
        width: 100%;
        height: auto;
        padding:0 2rem ;
        padding-bottom:2rem ;
        background-color: white;
        justify-content: start;
        flex-direction: column;
        display: none;
    }
    nav ul{
        display: block;
        text-align: left;

    }nav ul li{
        margin-top: 2.5rem;
    }
    nav ul li a{
        font-size: 2.2rem;
    }
    nav button{
        width: 100%;
        height: 5rem;
        margin-top: 2rem;
    }
    .container{
        height: 80vh;
    }
    .menu{
        display: block;
    }
}