.container{
    width: 100%;
    height: 60vh;
}
.hero{
    width: 100%;
    height: 60vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.pexels.com/photos/21014/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero h1{
    font-size: 13rem;
    color: #35def0;
    font-weight: bold;
    text-transform: uppercase;
}
.wservice{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(255, 255, 255, 0.84), rgba(255, 255, 255, 0.84)),url(../images/particle_bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.wbox{
    width: 40rem;
    height:auto;
    background-color: #35def0;
    border-radius: 1rem;
    overflow: hidden;
}
.wbox img{
    width: 100%;
    height:30rem ;
}
.wsetext{
  text-align: center;
  padding: 2rem;
  width: 100%;
  height: 100%;
}
.wsetext h1{
    font-size: 4rem;
    color: black;
    font-weight: bold;
}
.wsetext p{
    font-size: 1.5rem;
    color: black;
    margin-top: 2rem;
    line-height: 2.5rem;
}


/* responsive */
@media(max-width:768px){
    .container{
        height: 50vh;
        width: 100%;
    }
    .hero{
        width: 100%;
    }
    .hero h1{
        font-size: 5rem;
    }
    .wservice{
        height: auto;
        padding:5rem  0rem;
        flex-direction: column;
    }
    .wbox{
        width: 90%;
    }
}