<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/about.css">
        <!-- fav icon -->
        <link rel="shortcut icon" href="images/JATAYAT.png" type="image/x-icon">
    <!-- icon link -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- animation link -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>About Us / Jataat</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="/"><img src="https://i.ibb.co/30r1rHT/Red-Yellow-Simple-Tour-Bus-Rental-Travel-Logo-1.png" alt="logo">
                    <h1>JATAYAT</h1></a>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="/whyus">Why Us</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <button><i class='bx bx-bus'></i> <a href="/information"style="text-decoration:none">Tickets</a></button>
                </ul>
            </nav>
            <div class="menu"id="menu">
                <i class='bx bx-menu' ></i>
            </div>
        </header>
        <!-- hero section -->

<div class="hero">
   <div class="aboutbox">
     <h1>Our System</h1>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ipsa tempora
         accusantium? Aspernatur, placeat. Obcaecati numquam enim ullam distinctio in!</p>
   <button><a href="/contact">Contact Us</a></button>
        </div>
</div>
    <!-- hero section -->
    </div>
    <!-- our mission -->
<div class="division">
     <div class="mission">
        <div class="mitext">
            <h1>Our Devided</h1>
            <h1>Mission</h1>
        </div>
        <div class="mibox">
          <div class="mileft misbox"data-aos="fade-right">
            <img src="images/side.png" alt="image">
          </div>
          <div class="miright misbox">
            <p>
                Jatri is a public transport journey planner, digital ticketing,
                fleet management and mobility marketplace, driving productivity
                by helping drivers to offer reliable transport to the commuters
                through our state-of-the-art technology.
              </p>
              <p>
                Transportation has been a major pain point for the people of
                Bangladesh for many years, and we aim to eradicate these issues
                with cutting-edge technology.
              </p>
          </div>
        </div>
     </div>
     <!-- mission end -->
     <!-- commitment -->
<div class="commitment">
    <div class="comtext">
        <h1>Our</h1>
        <h1>Commitment</h1>
        <p>
            We are driven by creating a meaningful impact in the
            transportation sector. Through innovation, technology and action,
            we hope to sustainably redefine how people travel in Bangladesh.
            The bar to empower every passenger, operator and driver is set
            very high, we are determined to reach it and leave a meaningful
            imprint on society.
          </p>
    </div>
    <div class="comitbox">
        <img src="/images/coronavirus-cleaning-staff-member-sprays-disinfectant-pandemic_f1efebd6-8828-11ea-804e-137f71f5151d.jpg" alt="image">
    </div>
</div>


     <!-- commitment -->
</div>










        <!-- our mission -->
<!-- footer -->

<footer>
    <div class="fobox fobox1">
  <h1>Contact Us</h1>
    <div class="link">
        <a href="https://www.facebook.com/"> <i class='bx bxl-facebook'></i></a>
        <a href="https://www.whatsapp.com/"><i class='bx bxl-whatsapp'></i></a>
         <a href="https://www.twitter.com/"><i class='bx bxl-twitter'></i></a>
         <a href="https://www.instagram.com/"><i class='bx bxl-instagram'></i></a>
    </div>
    </div>
    <div class="fobox fobox2">
        <h1>Quick Link</h1>
        <ul>
                    <li><a href="/whyus">Why Us</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="fobox fobox3">
        <img src="https://t3.ftcdn.net/jpg/04/91/24/24/360_F_491242470_WdSpwKRMYiHqTvRBRpsH72cM4g1VWL22.jpg" alt="image">
        <div class="news">
            <h1>Newsletter</h1>
            <p>Subscribe for get new update at current time</p>
            <div class="input">
                <input type="text"placeholder="Your Email">
                <button>Subscribe</button>
            </div>
        </div>
    </div>
</footer>




<!-- footer -->
    <!-- javascript -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        var nav=document.getElementById("nav");
        var menu=document.getElementById("menu");
       menu.addEventListener("click",function(){
        nav.classList.toggle("activemenu")
       });
    // animation
     AOS.init();
    </script>
</body>
</html>