<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminpage.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <title>Shottershondhane-admin_home</title>
    <!-- website seo meta tag -->
    <meta name="description" content="Shotter Shondhane  programmer is an Islamic knowledge competition program. It is held every ramadan. Learn about us by visiting our website.">
    <!-- author -->
    <meta name="author" content="Abdul Mustofa Rahim Al-Azhari">
    <!-- website keywords -->
    <meta name="keywords" content="shottershondhane,shottershondhanefoundation,php,phpshottershondhane,realityshow,Islamicrealityshow,ramadamshow,Islamic,Blog">
</head>
<body>
    <div class="admin">
        <div class="sidebar"id="sidebar">
            <div class="sidebox">
           <div class="sidelogo">
            <h1>Admin Panel</h1>
           </div>
           <ul>
            <li><a href="/admin/home"><i class='bx bxs-dashboard'></i>Dashbord</a></li>
            <li><a href="/admin/blog"><i class='bx bxl-blogger'></i>Blogs</a></li>
            <li><a href="/admin/seatbooking"><i class='bx bxs-user-rectangle'></i>Seat Booking</a></li>
            <li><a href="/admin/gallery"><i class='bx bxs-contact' ></i>Gallery</a></li>
            <li><a href="/admin/edit"><i class='bx bx-edit'></i>Edit</a></li>
            <li><a href="/admin/galleryedit"><i class='bx bx-edit'></i>GalleryEdit</a></li>
            <li><a href="/admin/logout"><i class='bx bx-log-in-circle' ></i>SinOut</a></li>
           </ul>
            </div>
        </div>
        <!-- page -->

<div class="page"id="page">
      
</div>

             <!-- page -->  
    </div>

</body>
</html>