<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/blog.css">
    <!-- icon link -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- animation link -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Blog / Jataat</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="/"><img src="https://i.ibb.co/30r1rHT/Red-Yellow-Simple-Tour-Bus-Rental-Travel-Logo-1.png" alt="logo">
                    <h1>JATAYAT</h1></a>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="/whyus">Why Us</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <button><i class='bx bx-bus'></i> <a href="/information"style="text-decoration:none">Tickets</a></button>
                </ul>
            </nav>
            <div class="menu"id="menu">
                <i class='bx bx-menu' ></i>
            </div>
        </header>
        <!-- hero section -->

<div class="hero">
  
</div>
    <!-- hero section -->
    </div>
    <!-- our post -->
<div class="blog">

    <div class="bltext">
    <h1>Featured articles</h1>
    <p>
        Here’s a sneak peek at the latest happenings in Jatayat
      </p>
    </div>

    <div class="blogmain">
        <div class="post">
            <img src="https://garirbazar.s3.amazonaws.com/uploads/picture/url/46173/medium_with_watermark_hino-300-series-dhaka-dhaka-5845.jpeg" alt="postimage">
        </div>
        <div class="post">
            <img src="https://image.made-in-china.com/202f0j00vAMVJSzRQjol/LHD-10-20-Seats-Gasoline-Mini-Bus-with-Euro-II-Engine.webp" alt="postimage">
        </div>
        <div class="post">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTFFMB3tT5YRRy_QTn6ztna2i_6scrQ9uVncGrdjx7_PnlQDTAT6flhCkdcrPwvDWkvDU&usqp=CAU" alt="postimage">
        </div>
        <div class="post">
            <img src="https://i.ytimg.com/vi/HAXNYQ8FI-E/maxresdefault.jpg" alt="postimage">
        </div>
        <div class="post">
            <img src="https://gumlet.assettype.com/bdnews24-english/2023-03/508da1c9-f98e-4eeb-83db-2a4634627535/dhaka_nagar_paribahan_bus_100323_00.jpg?w=1200&h=675&auto=format%2Ccompress&fit=max&enlarge=true" alt="postimage">
        </div>
        <div class="post">
            <img src="https://www.daily-sun.com/assets/news_images/2021/11/15/Raida-ds-1.jpg" alt="postimage">
        </div>




    </div>


</div>










        <!-- our post -->
<!-- footer -->

<footer>
    <div class="fobox fobox1">
  <h1>Contact Us</h1>
    <div class="link">
        <a href="https://www.facebook.com/"> <i class='bx bxl-facebook'></i></a>
        <a href="https://www.whatsapp.com/"><i class='bx bxl-whatsapp'></i></a>
         <a href="https://www.twitter.com/"><i class='bx bxl-twitter'></i></a>
         <a href="https://www.instagram.com/"><i class='bx bxl-instagram'></i></a>
    </div>
    </div>
    <div class="fobox fobox2">
        <h1>Quick Link</h1>
        <ul>
            <li><a href="/whyus">Why Us</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="fobox fobox3">
        <img src="https://t3.ftcdn.net/jpg/04/91/24/24/360_F_491242470_WdSpwKRMYiHqTvRBRpsH72cM4g1VWL22.jpg" alt="image">
        <div class="news">
            <h1>Newsletter</h1>
            <p>Subscribe for get new update at current time</p>
            <div class="input">
                <input type="text"placeholder="Your Email">
                <button>Subscribe</button>
            </div>
        </div>
    </div>
</footer>




<!-- footer -->
    <!-- javascript -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        var nav=document.getElementById("nav");
        var menu=document.getElementById("menu");
       menu.addEventListener("click",function(){
        nav.classList.toggle("activemenu")
       });
    // animation
     AOS.init();
    </script>
</body>
</html>