<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/blog.css">
    <!-- icon link -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- animation link -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Blog / Jataat</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
               <a href="/"><img src="images/Jataat.png" alt="logo">
                <h1>JATAYAT</h1></a>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="/whyus">Why Us</a></li>
                    <li><a href="/about">About Us</a></li>
                    
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/login">Log In</a></li>
                </ul>
            </nav>
            <div class="menu"id="menu">
                <i class='bx bx-menu' ></i>
            </div>
        </header>
        <!-- hero section -->

<div class="hero">
  
</div>
    <!-- hero section -->
    </div>
    <!-- our post -->
<div class="blog">

    <div class="bltext">
    <h1>Featured articles</h1>
    <p>
        Here’s a sneak peek at the latest happenings in Jatri
      </p>
    </div>

    <div class="blogmain">
        <div class="post">
            <img src="https://www.jatri.co/src/images/blog/small_blog_08.jpg" alt="postimage">
            <div class="posttext">
                <h1>যাত্রী পার্টনার অ্যাপ: রেন্ট-এ-কার ব্যবসা খাতে নতুন সংযোজন !</h1>
                <p>
                    রেন্ট-এ-কার সার্ভিস বা ব্যবসা বাংলাদেশে বহুল প্রচলিত এবং পরিচিত একটি সেবা খাত।
                    সাধারণত ব্যক্তিগত পর্যায়ে ও উদ্যোগে এই ব্যবসা পরিচালিত হয়। শহরের ব্যস্ত এবং বাণিজ্যিক এলাকাকে কেন্দ্র করে এধরণের সেবা দানকারী প্রতিষ্ঠান গড়ে উঠে, যেখান থেকে গ্রাহকরা সশরীরে উপস্থিত হয়ে দরদাম করে পছন্দ অনুযায়ী গাড়ি ভাড়া নিয়ে থাকে। 
                   
                </p>
                <div class="date">
                    <div class="dleft">
                        <h3>Abdul Sakib</h3>
                        <p>20th January, 2022</p>
                    </div>
                   <button>Read More</button>
                </div>
            </div>
        </div>
        <div class="post">
            <img src="https://www.jatri.co/src/images/blog/small_blog_08.jpg" alt="postimage">
            <div class="posttext">
                <h1>যাত্রী পার্টনার অ্যাপ: রেন্ট-এ-কার ব্যবসা খাতে নতুন সংযোজন !</h1>
                <p>
                    রেন্ট-এ-কার সার্ভিস বা ব্যবসা বাংলাদেশে বহুল প্রচলিত এবং পরিচিত একটি সেবা খাত।
                    সাধারণত ব্যক্তিগত পর্যায়ে ও উদ্যোগে এই ব্যবসা পরিচালিত হয়। শহরের ব্যস্ত এবং বাণিজ্যিক এলাকাকে কেন্দ্র করে এধরণের সেবা দানকারী প্রতিষ্ঠান গড়ে উঠে, যেখান থেকে গ্রাহকরা সশরীরে উপস্থিত হয়ে দরদাম করে পছন্দ অনুযায়ী গাড়ি ভাড়া নিয়ে থাকে। 
                   
                </p>
                <div class="date">
                    <div class="dleft">
                        <h3>Abdul Sakib</h3>
                        <p>20th January, 2022</p>
                    </div>
                   <button>Read More</button>
                </div>
            </div>
        </div>
        <div class="post">
            <img src="https://www.jatri.co/src/images/blog/small_blog_08.jpg" alt="postimage">
            <div class="posttext">
                <h1>যাত্রী পার্টনার অ্যাপ: রেন্ট-এ-কার ব্যবসা খাতে নতুন সংযোজন !</h1>
                <p>
                    রেন্ট-এ-কার সার্ভিস বা ব্যবসা বাংলাদেশে বহুল প্রচলিত এবং পরিচিত একটি সেবা খাত।
                    সাধারণত ব্যক্তিগত পর্যায়ে ও উদ্যোগে এই ব্যবসা পরিচালিত হয়। শহরের ব্যস্ত এবং বাণিজ্যিক এলাকাকে কেন্দ্র করে এধরণের সেবা দানকারী প্রতিষ্ঠান গড়ে উঠে, যেখান থেকে গ্রাহকরা সশরীরে উপস্থিত হয়ে দরদাম করে পছন্দ অনুযায়ী গাড়ি ভাড়া নিয়ে থাকে। 
                   
                </p>
                <div class="date">
                    <div class="dleft">
                        <h3>Abdul Sakib</h3>
                        <p>20th January, 2022</p>
                    </div>
                   <button>Read More</button>
                </div>
            </div>
        </div>
        <div class="post">
            <img src="https://www.jatri.co/src/images/blog/small_blog_08.jpg" alt="postimage">
            <div class="posttext">
                <h1>যাত্রী পার্টনার অ্যাপ: রেন্ট-এ-কার ব্যবসা খাতে নতুন সংযোজন !</h1>
                <p>
                    রেন্ট-এ-কার সার্ভিস বা ব্যবসা বাংলাদেশে বহুল প্রচলিত এবং পরিচিত একটি সেবা খাত।
                    সাধারণত ব্যক্তিগত পর্যায়ে ও উদ্যোগে এই ব্যবসা পরিচালিত হয়। শহরের ব্যস্ত এবং বাণিজ্যিক এলাকাকে কেন্দ্র করে এধরণের সেবা দানকারী প্রতিষ্ঠান গড়ে উঠে, যেখান থেকে গ্রাহকরা সশরীরে উপস্থিত হয়ে দরদাম করে পছন্দ অনুযায়ী গাড়ি ভাড়া নিয়ে থাকে। 
                   
                </p>
                <div class="date">
                    <div class="dleft">
                        <h3>Abdul Sakib</h3>
                        <p>20th January, 2022</p>
                    </div>
                   <button>Read More</button>
                </div>
            </div>
        </div>
        <div class="post">
            <img src="https://www.jatri.co/src/images/blog/small_blog_08.jpg" alt="postimage">
            <div class="posttext">
                <h1>যাত্রী পার্টনার অ্যাপ: রেন্ট-এ-কার ব্যবসা খাতে নতুন সংযোজন !</h1>
                <p>
                    রেন্ট-এ-কার সার্ভিস বা ব্যবসা বাংলাদেশে বহুল প্রচলিত এবং পরিচিত একটি সেবা খাত।
                    সাধারণত ব্যক্তিগত পর্যায়ে ও উদ্যোগে এই ব্যবসা পরিচালিত হয়। শহরের ব্যস্ত এবং বাণিজ্যিক এলাকাকে কেন্দ্র করে এধরণের সেবা দানকারী প্রতিষ্ঠান গড়ে উঠে, যেখান থেকে গ্রাহকরা সশরীরে উপস্থিত হয়ে দরদাম করে পছন্দ অনুযায়ী গাড়ি ভাড়া নিয়ে থাকে। 
                   
                </p>
                <div class="date">
                    <div class="dleft">
                        <h3>Abdul Sakib</h3>
                        <p>20th January, 2022</p>
                    </div>
                   <button>Read More</button>
                </div>
            </div>
        </div>
        <div class="post">
            <img src="https://www.jatri.co/src/images/blog/small_blog_08.jpg" alt="postimage">
            <div class="posttext">
                <h1>যাত্রী পার্টনার অ্যাপ: রেন্ট-এ-কার ব্যবসা খাতে নতুন সংযোজন !</h1>
                <p>
                    রেন্ট-এ-কার সার্ভিস বা ব্যবসা বাংলাদেশে বহুল প্রচলিত এবং পরিচিত একটি সেবা খাত।
                    সাধারণত ব্যক্তিগত পর্যায়ে ও উদ্যোগে এই ব্যবসা পরিচালিত হয়। শহরের ব্যস্ত এবং বাণিজ্যিক এলাকাকে কেন্দ্র করে এধরণের সেবা দানকারী প্রতিষ্ঠান গড়ে উঠে, যেখান থেকে গ্রাহকরা সশরীরে উপস্থিত হয়ে দরদাম করে পছন্দ অনুযায়ী গাড়ি ভাড়া নিয়ে থাকে। 
                   
                </p>
                <div class="date">
                    <div class="dleft">
                        <h3>Abdul Sakib</h3>
                        <p>20th January, 2022</p>
                    </div>
                   <button>Read More</button>
                </div>
            </div>
        </div>




    </div>


</div>










        <!-- our post -->
<!-- footer -->

<footer>
    <div class="fobox fobox1">
  <h1>Contact Us</h1>
    <div class="link">
        <i class='bx bxl-facebook'></i>
        <i class='bx bxl-whatsapp'></i>
        <i class='bx bxl-twitter'></i>
        <i class='bx bxl-instagram'></i>
    </div>
    </div>
    <div class="fobox fobox2">
        <h1>Quick Link</h1>
        <ul>
            <li><a href="#">Why Us</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="fobox fobox3">
        <img src="https://www.jatri.co/src/images/others/stand.png" alt="image">
        <div class="news">
            <h1>Newsletter</h1>
            <p>Subscribe for get new update at current time</p>
            <div class="input">
                <input type="text"placeholder="Your Email">
                <button>Subscribe</button>
            </div>
        </div>
    </div>
</footer>




<!-- footer -->
    <!-- javascript -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        var nav=document.getElementById("nav");
        var menu=document.getElementById("menu");
       menu.addEventListener("click",function(){
        nav.classList.toggle("activemenu")
       });
    // animation
     AOS.init();
    </script>
</body>
</html>