<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/contact.css">
    <!-- icon link -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- animation link -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Contact Us / Jataat</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
               <a href="/"><img src="images/Jataat.png" alt="logo">
                <h1>JATAYAT</h1></a>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="/whyus">Why Us</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/#signup">Sign Up</a></li>
                    <li><a href="/login">Log In</a></li>
                </ul>
            </nav>
            <div class="menu"id="menu">
                <i class='bx bx-menu' ></i>
            </div>
        </header>
        <!-- hero section -->

<div class="hero">
  
</div>
    <!-- hero section -->
    </div>
    <!-- contact form -->
<div class="contact">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14615.826102202678!2d90.49882648044803!3d23.677512654003912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b6b1091016b7%3A0x41fb491b8b9e7a7e!2z4KaV4Kam4Kau4Kak4Kay4KeA!5e0!3m2!1sbn!2sbd!4v1671893369558!5m2!1sbn!2sbd" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="form">
        <form>
            <input type="text"placeholder="Your Name"><br>
            <input type="text"placeholder="Your Name"><br>
            <input type="text"placeholder="Your Name"><br>
            <textarea name="message"cols="30" rows="10"placeholder="Enter Message"></textarea><br>
        <button>Contact Us</button>
        </form>
    </div>
</div>










        <!-- contact mission -->
<!-- footer -->

<footer>
    <div class="fobox fobox1">
  <h1>Contact Us</h1>
    <div class="link">
        <a href="https://www.facebook.com/"> <i class='bx bxl-facebook'></i></a>
       <a href="https://www.whatsapp.com/"><i class='bx bxl-whatsapp'></i></a>
        <a href="https://www.twitter.com/"><i class='bx bxl-twitter'></i></a>
        <a href="https://www.instagram.com/"><i class='bx bxl-instagram'></i></a>
    </div>
    </div>
    <div class="fobox fobox2">
        <h1>Quick Link</h1>
        <ul>
                    <li><a href="/whyus">Why Us</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/#signup">Sign Up</a></li>
                    <li><a href="/login">Log In</a></li>
        </ul>
    </div>
    <div class="fobox fobox3">
        <img src="/images/jataat.png" alt="image">
        <div class="news">
            <h1>Newsletter</h1>
            <p>Subscribe for get new update at current time</p>
            <div class="input">
                <input type="text"placeholder="Your Email">
                <button>Subscribe</button>
            </div>
        </div>
    </div>
</footer>




<!-- footer -->
    <!-- javascript -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        var nav=document.getElementById("nav");
        var menu=document.getElementById("menu");
       menu.addEventListener("click",function(){
        nav.classList.toggle("activemenu")
       });
    // animation
     AOS.init();
    </script>
</body>
</html>