<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <link rel="stylesheet" href="css/style.css">
        <!-- fav icon -->
        <link rel="shortcut icon" href="images/JATAYAT.png" type="image/x-icon">
    <!-- icon link -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- animation link -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Jatayat</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
               <a href="/dashboard"><img src="images/Jataat.png" alt="logo">
                <h1>JATAYAT</h1></a>
            </div>
            <nav id="nav">
                <button><i class='bx bx-car'></i> Rental</button>
                <button><i class='bx bx-bus'></i> <a href="/information">Tickets</a></button>
            </nav>
            <div class="menu"id="menu">
                <i class='bx bx-menu' ></i>
            </div>
        </header>
        <!-- hero section -->

<div class="hero">
   <div class="box left">
      <h1>EMPOWERING
        BANGLADESH TO
        TRAVEL BETTER!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi repudiandae beatae adipisci sunt nihil mollitia debitis iste porro eaque quia.</p>
        <button>Book Ticket</button>
   </div>
   <div class="box right">
    <img src="images/Bus driver-pana.png" alt="image"data-aos="fade-left">
   </div>
</div>
    <!-- hero section -->
    </div>
    <!-- counter -->
<div class="counter">
    <div class="text">
        <h1>SERVING MILLIONS ACROSS BANGLADESH</h1>
    </div>
    <div class="cmain">
    <div class="cbox">
        <h1>35 <span>K +</span></h1>
        <h3>Rental Partners</h3>
    </div>
    <div class="cbox">
        <h1>11 <span>+ million</span></h1>
        <h3>Tickets Sold</h3>
    </div>
    <div class="cbox cbox3">
        <h1>10000 <span>+</span></h1>
        <h3>Buses</h3>
    </div>
    </div>
</div>
<!-- counter -->
<!-- about -->
<div class="about">
    <div class="text2">
        <h1>
            <span class="span1">We will go the</span><br>
            <span class="span2">extra mile for you</span>
        </h1>
    </div>
    <div class="amain">
        <div class="abox">
            <img src="images/ticket.png" alt="">
            <div class="atext">
                <h1>TICKETING</h1>
            <p>Book your ticket with our over-the-counter ticketing system to get going in no time.</p>
            <button>Book Ticket</button>
            </div>
        </div>
        <div class="abox">
            <img src="images/rental.jpg" alt="">
            <div class="atext">
                <h1>RENTAL</h1>
            <p>Enjoy unbeatable prices with our on-demand car rental service. Open the app, enter trip details and you’re all set to go.</p>
            <button>RENTAL</button>
            </div>
        </div>
        <div class="abox">
            <img src="images/career.jpg" alt="">
            <div class="atext">
                <h1>CAREER</h1>
            <p>If you are a creative problem solver dedicated to driving change in Bangladesh, you’re in the right place. Check out our career options below!</p>
            <button>CAREER</button>
            </div>
        </div>
        
    </div>
</div>
<!-- about -->
<!-- app install -->
<!-- <div class="app">
    <div class="aabox aleft" data-aos="fade-up-right">
        <img src="images/app_banner.png" alt="app">
    </div>
    <div class="aabox aright"data-aos="fade-left">
        <h2>DOWNLOAD</h2>
        <h1>THE APP</h1>
        <p>Whether you need just a sedan or 
            an entire microbus, we are committed to ensuring a convenient travel experience.</p>
            <button><i class='bx bxl-android'></i> Play Store</button>
    </div>
</div> -->
<!-- app install -->
<!-- feature -->
<div class="feature">
   <div class="firstf fbox">
     <div class="ffbox">
  <h2>HOW</h2>
  <h1>IT WORKS</h1>
  <p>Our over-the-counter ticketing system 
    is the go-to assistant of the bus personnel working in
     the public transportation.</p>
     <p>With seamless ticketing options
         to get you from A to B, traveling has never been easier.
          Book, board and go!</p>
     </div>
     <div class="fsbox">
        <div class="fsbox1 fsboxi">
 <h1><i class='bx bxs-star'></i> Ticketing</h1>
 <p>Whether you’re looking for intercity or intra-city tickets, Jatri Tickets is here to serve you all day long.
    Enjoy all tickets from all tiers of buses on one platform. Book through the app or directly at the counter- we’re here to tag along with you all through the journey!</p>
        </div>
        <div class="fsbox2 fsboxi">
            <div class="sub1 subbox">
                <h1><i class='bx bxs-star'></i> Rental</h1>
                <p>Travel in style with our dynamic fleet of car rentals. Book your car through the app, and get ready to hit the road!</p>
            </div>
            <div class="sub2 subbox">
                <h1><i class='bx bxs-star'></i> Coach</h1>
                <p>Travel in style with our dynamic fleet of car rentals. Book your car through the app, and get ready to hit the road!</p>
            </div>
        </div>
     </div>
   </div>
   <div class="secondf fbox">
     <div class="sebox1 sebox">
       <h1>JATAYAT</h1>
       <p>Gear up to maximize your car and microbus rental business with Jatri's pioneering technology. Get access to our massive network of passengers on our app, book trips at 
        fair prices throughout the country and boost your income by the end of the month!</p>
     </div>
     <div class="sebox2 sebox">
        <img src="images/website.png" alt="">
     </div>
   </div>
</div>
<!-- feature -->
<!-- customer -->
<div class="customer">
    <div class="ctext1">
        <h1>WE ARE CURRENTLY FEATURED IN</h1>
    </div>
    <div class="cubox1">
        <img src="https://www.jatri.co/src/images/press/1.png" alt="customer"data-aos="fade-up">
        <img src="https://www.jatri.co/src/images/press/7.png" alt="customer"data-aos="fade-up">
        <img src="https://www.jatri.co/src/images/press/6.png" alt="customer"data-aos="fade-up">
        <img src="https://www.jatri.co/src/images/press/3.png" alt="customer"data-aos="fade-up">
        <img src="https://www.jatri.co/src/images/press/5.png" alt="customer"data-aos="fade-up">
    </div>
</div>
<!-- customer -->
<!-- review section -->

<div class="review">
    <div class="rtext1">
        <h1>DON'T JUST TAKE OUR WORD FOR IT</h1>
    </div>
    <div class="remain">
        <div class="rbox"data-aos="fade-up-right">
            <img src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image">
            <div class="rbtext">
         <p>I really appreciate the expansion opportunity Jatri has provided for my rental car service. With inter-city rides coming in regularly, 
            I’ve managed to organically boost my income and grow my rental business.</p>
            <hr color="white">
            <h2>Our Partner</h2>
            </div>
        </div>
        <div class="rbox">
            <img src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image">
            <div class="rbtext">
         <p>I really appreciate the expansion opportunity Jatri has provided for my rental car service. With inter-city rides coming in regularly, 
            I’ve managed to organically boost my income and grow my rental business.</p>
            <hr color="white">
            <h2>Our Partner</h2>
            </div>
        </div>
        <div class="rbox"data-aos="fade-up-left">
            <img src="https://t4.ftcdn.net/jpg/03/26/98/51/360_F_326985142_1aaKcEjMQW6ULp6oI9MYuv8lN9f8sFmj.jpg" alt="image">
            <div class="rbtext">
         <p>I really appreciate the expansion opportunity Jatri has provided for my rental car service. With inter-city rides coming in regularly, 
            I’ve managed to organically boost my income and grow my rental business.</p>
            <hr color="white">
            <h2>Our Partner</h2>
            </div>
        </div>


    </div>
</div> -->
<!-- review section-->
<!-- sign upfrom -->

<!-- sign upfrom -->
<!-- footer -->

<footer>
    <div class="fobox fobox1">
  <h1>Contact Us</h1>
    <div class="link">
        <i class='bx bxl-facebook'></i>
        <i class='bx bxl-whatsapp'></i>
        <i class='bx bxl-twitter'></i>
        <i class='bx bxl-instagram'></i>
    </div>
    </div>
    <div class="fobox fobox2">
        <h1>Quick Link</h1>
        <ul>
            <li><a href="#">Why Us</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="fobox fobox3">
        <img src="https://www.jatri.co/src/images/others/stand.png" alt="image">
        <div class="news">
            <h1>Newsletter</h1>
            <p>Subscribe for get new update at current time</p>
            <div class="input">
                <input type="text"placeholder="Your Email">
                <button>Subscribe</button>
            </div>
        </div>
    </div>
</footer>




<!-- footer -->
    <!-- javascript -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        var nav=document.getElementById("nav");
        var menu=document.getElementById("menu");
       menu.addEventListener("click",function(){
        nav.classList.toggle("activemenu")
       });
    // animation
     AOS.init();
    </script>
</body>
</html>