<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/inform.css">
    <!-- fav icon -->
    <link rel="shortcut icon" href="images/JATAYAT.png" type="image/x-icon">
<!-- icon link -->
<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
           <a href="/dashboard"><img src="images/Jataat.png" alt="logo">
            <h1>JATAYAT</h1></a>
        </div>
        <nav id="nav">
            <ul>
                <li><a href="/logout">Log Out</a></li>
            </ul>
            <button><i class='bx bx-car'></i><a href="/rental"style="text-decoration:none">Rental</a></button>
                <button><i class='bx bx-bus'></i> <a href="/information"style="text-decoration:none">Tickets</a></button>
        </nav>
        <div class="menu"id="menu">
            <i class='bx bx-menu' ></i>
        </div>
    </header>
<div class="main-page">
    <div class="search-box">
        <form>
            <input type="section" list="scripts" name="from"placeholder="From...."required/>
            <datalist id="scripts">
                <option value="Chittagong"></option>
                <option value="Dhaka"></option>
                <option value="Barishal"></option>
                <option value="Rangpur"></option>
                <option value="Dinajpur"></option>
                <option value="Khulna"></option>
            </datalist>
            <input type="section" list="script" name="to"placeholder="To...."required/>
            <datalist id="script">
                <option value="Chittagong"></option>
                <option value="Dhaka"></option>
                <option value="Barishal"></option>
                <option value="Rangpur"></option>
                <option value="Dinajpur"></option>
                <option value="Khulna"></option>
            </datalist>
            <input type="section" list="scripted" name="type"placeholder="Type"required/>
            <datalist id="scripted">
                <option value="Mini Bus"></option>
                <option value="Private Car"></option>
                <option value="Truck"></option>
            </datalist>
            <button>Submit</button>
        </form>
    </div>
   <div class="main-box">
    <%data.forEach((e)=>{%>
        <div class="bus-box">
            <h3>From:<%=e.from%></h3>
            <h3>TO:<%=e.to%></h3>
            <h3>Type:<%=typeo%></h3>
            <button><a href="/rentalpage/<%=e._id%>">Book Now</a></button>
         </div>
    <%})%>

   </div>
</div>
<script>
    var nav=document.getElementById("nav");
    var menu=document.getElementById("menu");
   menu.addEventListener("click",function(){
    nav.classList.toggle("activemenu")
   });
// animation
 AOS.init();
</script>
</body>
</html>