<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="sinupform">
        <div class="sinform">
      <h1>Log In</h1>
      <form action="/setdata"method="POST">
          <input type="text"placeholder="Enter From"name="from"><br>
          <input type="text"placeholder="Enter To"name="to"><br>
          <input type="text"placeholder="Bus Name"name="bus"><br>
          <input type="text"placeholder="Price"name="price"><br>
          <input type="text"placeholder="Start Time"name="start"><br>
        <button>Submit</button>
      </form>
           </div>
     </div>
</body>
</html>