<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="shortcut icon" href="images/Jataat.png" type="image/x-icon">    <!-- css link -->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/css/signup.css">
    <!-- icon link -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <title>Sign-Up</title>
</head>
<body>
    <!-- <div class="loading"id="loadanimation">
        <img src="https://i.ibb.co/9wzJrTv/mg.gif" alt="loading">
    </div> -->
    <div class="signup">
        <div class="sigupmain">
            <div class="text-signup">
                <h1>Sign Up Form</h1>
            </div>
            <form action="/"method="POST">
                <div class="boxinp">
                    <input type="text"name="name"placeholder="Enter Your Name"required autocomplete="off">
                </div>
                <div class="boxinp">
                    <input type="email"name="email"placeholder="Enter Your Email"required autocomplete="off">
                </div>
                <div class="boxinp pass-box">
                    <input type="password"id="password"name="password"placeholder="Enter Your Password"required><br>
                    <i class='bx bx-show'id="changeicon"></i>
                </div>
                <button>Submit</button>
                <div class="account-text">
                    <p>Already have an account? <a href="/login">Sign in</a></p>
                </div>
                
            </form>
        </div>
    </div>

    <!-- javascript code -->
    <script>
        let changeicon=document.getElementById("changeicon");
        let password=document.getElementById("password");
        changeicon.addEventListener("click",()=>{
            if(password.type =="password"){
                password.type ="text"
                changeicon.setAttribute("class","bx bx-hide")
            }
            else{
                password.type = "password"
                changeicon.setAttribute("class","bx bx-show")
            }
        })
        var loadanimation=document.getElementById("loadanimation");
        function loadani(){
            loadanimation.style.display="none"
        }
        setTimeout(() => {
            loadani()
        }, 2000);
    </script>
</body>
</html>