<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css link -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- <link rel="stylesheet" href="css/style.css" /> -->
    <link rel="stylesheet" href="css/ticket.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="ticket_main">
      <header>
        <div class="logo">
          <a href="/dashboard"
            ><img src="images/Jataat.png" alt="logo" />
            <h1>JATAYAT</h1></a
          >
        </div>
        <nav id="nav">
          <button><i class="bx bx-car"></i> Rental</button>
          <button><i class="bx bx-bus"></i> <a href="#">Tickets</a></button>
        </nav>
        <div class="menu" id="menu">
          <i class="bx bx-menu"></i>
        </div>
      </header>

      <!-- ticket booking -->
      <div class="ticket-box">
        <div class="ticket-form">
            <form action="/ticket"method="POST">
                <div class="box_form">
                    <label for="from">From</label>
                    <input type="section" list="scripts" name="from"/>
                    <datalist id="scripts">
                        <option value="Chittagong"></option>
                        <option value="Dhaka"></option>
                        <option value="Barishal"></option>
                        <option value="Rangpur"></option>
                        <option value="Dinajpur"></option>
                        <option value="Khulna"></option>
                    </datalist>
                  </div>
                  <div class="box_form">
                    <label for="from">To:</label>
                    <input type="section" list="scripts" name="to"/>
                    <datalist id="scripts">
                      <option value="Chittagong"></option>
                      <option value="Dhaka"></option>
                      <option value="Barishal"></option>
                      <option value="Rangpur"></option>
                      <option value="Dinajpur"></option>
                      <option value="Khulna"></option>
                    </datalist>
                  </div>
                  <button id="btn">Search</button>
            </form>
        </div>
      </div>
      <!-- ticket booking -->
    </div>
    <script>
        var nav=document.getElementById("nav");
        var menu=document.getElementById("menu");
       menu.addEventListener("click",function(){
        nav.classList.toggle("activemenu")
       });
    // animation
     AOS.init();
     var fo=document.getElementById("btn");
     fo.addEventListener("click",(e)=>{
        
     })
    </script>
  </body>
</html>
