<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/whyus.css">
    <!-- fav icon -->
    <link rel="shortcut icon" href="images/JATAYAT.png" type="image/x-icon">
    <!-- icon link -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- animation link -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Why Us / Jataat</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
               <a href="/"><img src="images/Jataat.png" alt="logo">
                <h1>JATAYAT</h1></a>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="/whyus">Why Us</a></li>
                    <li><a href="/about">About Us</a></li>
                    
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/login">Log In</a></li>
                </ul>
            </nav>
            <div class="menu"id="menu">
                <i class='bx bx-menu' ></i>
            </div>
        </header>
        <!-- hero section -->

<div class="hero">
   <h1>Why Us</h1>
</div>
    <!-- hero section -->
    </div>
    <!-- wservices -->
<div class="wservice">
   <div class="wbox">
   <img src="images/website.png" alt="image">
          <div class="wsetext">
            <h1>Simple</h1>
         <h1>And</h1>
           <h1>Convinetnt</h1>
           <p>
            Whether you’re managing your fleet or booking a trip,
            convenience is key. Just open up the app and find the
            service you need in mere minutes.
          </p>
     </div>
   </div> 
         <div class="wbox">
    <img src="https://images.pexels.com/photos/4606343/pexels-photo-4606343.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image">
    <div class="wsetext">
     <h1>
        Comfortable </h1>
     <h1>
        commute </h1>
        <h1>Convinetnt</h1>
     <p>
        Whether you’re managing your fleet or booking a trip,
        convenience is key. Just open up the app and find the
        service you need in mere minutes.
      </p>
    </div>
    </div> 
           <div class="wbox">
        <img src="images/hand-image.png" alt="image">
        <div class="wsetext">
         <h1>Simple</h1>
         <h1>And</h1>
         <h1>Convinetnt</h1>
         <p>
            Whether you’re managing your fleet or booking a trip,
            convenience is key. Just open up the app and find the
            service you need in mere minutes.
          </p>
        </div>
        </div> 

</div>
<!-- wservices -->
<!-- footer -->

<footer>
    <div class="fobox fobox1">
  <h1>Contact Us</h1>
    <div class="link">
        <i class='bx bxl-facebook'></i>
        <i class='bx bxl-whatsapp'></i>
        <i class='bx bxl-twitter'></i>
        <i class='bx bxl-instagram'></i>
    </div>
    </div>
    <div class="fobox fobox2">
        <h1>Quick Link</h1>
        <ul>
            <li><a href="#">Why Us</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="fobox fobox3">
        <img src="https://www.jatri.co/src/images/others/stand.png" alt="image">
        <div class="news">
            <h1>Newsletter</h1>
            <p>Subscribe for get new update at current time</p>
            <div class="input">
                <input type="text"placeholder="Your Email">
                <button>Subscribe</button>
            </div>
        </div>
    </div>
</footer>




<!-- footer -->
    <!-- javascript -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        var nav=document.getElementById("nav");
        var menu=document.getElementById("menu");
       menu.addEventListener("click",function(){
        nav.classList.toggle("activemenu")
       });
    // animation
     AOS.init();
    </script>
</body>
</html>